<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580737213533-q5bbo2r0dblaekrie8lpddhfss6l5vbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580737213533-q5bbo2r0dblaekrie8lpddhfss6l5vbn</string>
	<key>API_KEY</key>
	<string>AIzaSyCuU0RpU1AoRXGPKYLZRGKX069AfRg-5pI</string>
	<key>GCM_SENDER_ID</key>
	<string>580737213533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basezero.letsmeet</string>
	<key>PROJECT_ID</key>
	<string>meet-us-214802</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-us-214802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580737213533:ios:032b29549077a2e6</string>
	<key>DATABASE_URL</key>
	<string>https://meet-us-214802.firebaseio.com</string>
</dict>
</plist>