<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>osu!</string>
	<key>CFBundleName</key>
	<string>osu!</string>
	<key>CFBundleGetInfoString</key>
	<string>osu-lazer</string>
	<key>CFBundleIconFile</key>
	<string>osu.icns</string>
	<key>CFBundleIdentifier</key>
	<string>sh.ppy.osu.lazer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>lazer</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSPrincipalClass</key>
	<string>CStubApplication</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Supported protocols</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>osu</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
